@model IEnumerable<FilmFind.ViewModels.UserMovie.UserMovieViewModel>

@{
    ViewBag.Title = "My Movies";
}

<h2>Movies in my list</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th><h3>Title</h3></th>
            <th><h3>Rating</h3></th>
            <th><h3>Added </h3></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userMovie in Model)
        {
            //Make a component of this!
            <tr>
                @*TITLE*@
                <td>
                    <h4 style="display:inline-block">
                        <a asp-action="About" asp-controller="Movie" asp-route-id="@userMovie.Movie.Id">
                            @userMovie.Movie.Title
                        </a>
                    </h4>
                </td>

                @*RATING*@
                <td>
                    @if (@userMovie.Rating != 0)
                {
                        <h4 style="display:inline-block"><b>@userMovie.Rating</b></h4>
                    }

                    else
                    {

                    }
                </td>

                @*ADDED*@
                <td>
                    @userMovie.Added.ToString("yyyy-MM-dd")
                </td>

                @*ICONS*@
                <td>
                    @await Component.InvokeAsync("ToggleInList", new
               {
                   isHyped = userMovie.IsHyped,
                   isfavored = userMovie.IsFavorite,
                   movieId = userMovie.Movie.Id
               })
                </td>
            </tr>
        }
    </tbody>
</table>

@*<ul class="list-group">
        @foreach (var userMovie in Model)
        {

            <li class="list-group-item">
                <h4 style="display:inline-block">
                    <a asp-controller="Home" asp-action="AboutMovie" asp-route-id="@userMovie.Movie.Id">
                        @userMovie.Movie.Title
                    </a>
                </h4>
                @if (@userMovie.Rating != 0)
                {
                    <h4 style="display:inline-block"><b>@userMovie.Rating</b></h4>
                }
                @await Component.InvokeAsync("ToggleInList", new
           {
               isHyped = userMovie.IsHyped,
               isfavored = userMovie.IsFavorite,
               movieId = userMovie.Movie.Id
           })
                (@userMovie.Added.ToString("yyyy-MM-dd"))
            </li>
        }
    </ul>*@
