@model IEnumerable<FilmFind.ViewModels.Movie.SmallMovieSummaryViewModel>


<h2>Movies in my list</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th><h3>Title</h3></th>
            <th><h3>Director</h3></th>
            <th><h3>Release</h3></th>
            <th><h3>Genres</h3></th>
            <th><h3>Rating</h3></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-1">
                            <img src="@movie.PosterUrl" width="50" />
                        </div>
                    </div>
                </td>
                <td>
                    @movie.Title
                </td>
                <td>
                    @movie.Director
                </td>
                <td>
                    @movie.ReleaseYear
                </td>
                <td>
                    @movie.Genres
                </td>
                <td>
                    @movie.UserAverage
                </td>
            </tr>
        }
    </tbody>
</table>
