@model FilmFind.ViewModels.Movie.ImportMovieViewModel

@*@section Styles {
        <link href="@Url.Content("~/css/MovieSummary.css")" rel="stylesheet" type="text/css" />
    }*@

<section style="border: thin solid #eeeeee">
    <form method="post" asp-action="AddToDb">
        <input asp-for="@Model.Movie.Director" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.Genre" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.Year" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.Plot" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.IMDBRating" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.RottenTomatoesRating" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.Title" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.PosterUrl" type="hidden" class="form-control" />
        <input asp-for="@Model.Movie.Created" type="hidden" class="form-control" />

        <div class="container-fluid" border="1">
            <div class="row">
                <div class="col-md-2" style="border: thin solid #eeeeee">
                    <img src="@Model.Movie.PosterUrl" width="120" />
                </div>
                <div class="col-md-9" style="margin-top: 10px">
                    <p>
                        <h3 style="display:inline">@Model.Movie.Title</h3>
                        <i style="margin-left: 25px">(@Model.Movie.Year)</i>
                    </p>
                    <h4>@Model.Movie.Director</h4>
                    <div>@Model.Movie.Genre</div>
                    <p style="margin-top:20px;"><b>IMDB</b>: @Model.Movie.IMDBRating, <b>RT</b>: @Model.Movie.RottenTomatoesRating</p>
                </div>
                @if (Model.IsInDb)
                {
                    <i class="fa fa-check fa-2x" title="Add to movie-db" style="color:rgba(51, 122, 183, 0.25)"></i>
                }
                else
                {
                    <button style="margin-top: 60px; border:0; background:none;" type="submit">
                        <i class="fa fa-plus fa-2x" title="Add to movie-db" style="color:#337ab7"></i>
                    </button>
                } 
            </div>
        </div>
    </form>
</section>