@model FilmFind.ViewModels.UserMovie.UserMovieViewModel

<form method="post" asp-antiforgery="true">
    <div class="container-fluid" style="background-color: #fcfcfc; margin-top:100px;">
        <div class="row">
            <div class="col-md-2">
                <img src="@Model.Movie.Poster" width="140" />
            </div>

            <div class="col-md-8">
                <p>
                    <h3 style="display:inline">@Model.Movie.Title</h3><i style="margin-left: 25px">(@Model.Movie.Year)</i>
                </p>
                <h4>@Model.Movie.Director</h4>
                @{var genresString = string.Join(", ", Model.Movie.Genres.Select(m=>m.Genre.ToString()).ToArray());}@*inte så snyggt*@
                <i>@genresString</i>
                <p style="margin-top:20px;">
                    <b>IMDB</b>: @Model.Movie.IMDBRating, <b>RT</b>: @Model.Movie.RottenTomatoesRating
                </p>
                <div>
                    @*My Rating:*@
                    <label asp-for="Rating"></label><br/>
                    <input asp-for="Rating" type="radio" value="" /> Not seen
                    @for (int i = 1; i < 6; i++)
                    {
                        <input asp-for="Rating" type="radio" value="@i" /> @i;
                    }
                </div>

                <div style="margin-top:10px">
                    <label>Comment: </label>
                </div>

                <textarea asp-for="Comment" cols="50" rows="4"></textarea>
                <span asp-validation-for="Comment"></span>
            </div>

            <div class="col-md-2" style="margin-top: 10px">
                <button style="margin-top: 60px" type="submit" class="btn btn-primary" asp-route-id="@Model.Movie.Id">
                    Save changes
                    @*<span class="glyphicon glyphicon-plus fa-2x"></span>*@
                </button>
            </div>
        </div>
    </div>
</form>