@model FilmFind.ViewModels.Movie.UserOpinionViewModel

<article class="row">
    <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
            <div class="panel-body">
                <header class="text-left">
                    <div class="comment-user"><i class="fa fa-user"></i> @Model.UserName</div>
                    <div class="comment-date" datetime="@Model.Added"><i class="fa fa-clock-o"></i>  @Model.Added.ToString("MMM dd, yyyy")</div>
                </header>
                <div class="comment-post">
                    <p>
                        @Model.Comment
                    </p>
                    <div>@Model.Rating</div>
                </div>
            </div>
        </div>
    </div>
</article>