@model FilmFind.ViewModels.Movie.MovieViewModel

@{
    ViewBag.Title = Model.Title;
}



<div class="container-fluid" style="background-color: #fcfcfc">
    <div class="row">
        @*POSTER*@
        <div class="col-sm-3">
            <img src="@Model.PosterUrl" width="250" />
        </div>

        <div class="col-sm-5" style="margin-top: 10px">
            <p>
                <h3 style="display:inline">@Model.Title</h3>
                <i style="margin-left: 25px">(@Model.Year)</i>
            </p>
            <h4>@Model.Director</h4>

            @{var genresString = string.Join(", ", Model.Genres.ToArray());}
            <i>@genresString</i>
            <div style="margin-top:20px; margin-bottom:30px" >
                @await Component.InvokeAsync("GenerateReviewImages", new
           {
               UserAverage = @Model.AverageUserRating,
               TomatoeImage = @Model.TomatoeImage,
               TomatoeScore = @Model.RottenTomatoesRating,
               ImdbScore = @Model.IMDBRating
           })
            </div>
            <p>@Model.Summary</p>
        </div>
        <div class="col-sm-2">
            @await Component.InvokeAsync("ToggleMovieIcons", new
       {
           movieId = @Model.MovieId,
           isInList = @Model.IsInList,
           isHyped = @Model.IsHyped,
           isFavored = @Model.IsFavorite,
           isAdded = @Model.IsInList
       })

            @*<p><a asp-controller="UserMovie" asp-action="AddUserMovie" asp-route-id="@Model.MovieId"><i class="fa fa-plus fa-2x" title="Add to my movies"></i></a><br /></p>
                <p><a asp-controller="UserMovie" asp-action="EditUserMovie" asp-route-id="@Model.MovieId"><i class="fa fa-edit fa-2x" title="edit movie"></i></a><br /></p>*@
        </div>
    </div>

    @foreach (var comment in Model.UserOpinion)
    {
        @Html.Partial("_UserComment", comment)
    }
    <script type="text/javascript" src="~/js/toggleUserMovie.js"></script>

</div>
