@model HomePageViewModel

@{
    ViewBag.Title = "FilmFind";
}

<div style="background-color:#eeeeee; width: 650px;">
    <h3>Just Added</h3>
    @if (Model.LatestMovies == null)
    {
        <div>Nothing to see here.</div>
    }
    else
    {
        @foreach (var movie in Model.LatestMovies)
        {
            <div style="display:inline-block;">
                <h5 style="width:120px;white-space: nowrap;overflow:hidden; text-align:center">@movie.Title</h5>
                <a asp-controller="Movie" asp-action="About" asp-route-id="@movie.Id">
                    <img src="@movie.PosterUrl" width="120" height="180" />
                </a>
            </div>
        }
    }
</div>

<div style="background-color:#eeeeee; width: 650px;">
    <h3 style="margin-top:60px">Highest Rated</h3>
    @if (Model.TopRatedMovies == null)
    {
        <div>Nothing to see here.</div>
    }

    else
    {

        @foreach (var movie in Model.TopRatedMovies)
        {
            <div style="display:inline-block;">
                <h5 style="width:120px;white-space: nowrap;overflow:hidden; text-align:center">@movie.Title</h5>
                <a asp-controller="Movie" asp-action="About" asp-route-id="@movie.Id">
                    <img src="@movie.PosterUrl" width="120" height="180" />
                </a>
            </div>
        }
    }
</div>

<div style="background-color:#eeeeee; width: 650px;">
    <h3 style="margin-top:60px">Most Hyped</h3>

    @if (Model.HypedMovies == null)
    {
        <div>Nothing to see here.</div>
    }
    else
    {

        @foreach (var movie in Model.HypedMovies)
        {
            <div style="display:inline-block">
                <h5 style="width:120px;white-space: nowrap;overflow:hidden; text-align:center">@movie.Title</h5>
                <a asp-controller="Movie" asp-action="About" asp-route-id="@movie.Id">
                    <img src="@movie.PosterUrl" width="120" height="180" />
                </a>
            </div>
        }
    }
</div>
<br /><br /><br />